<div class="main top-main">
  <div class="top-message">
    <h2>あなたを知ってる、あなたを待ってる人がいる</h2>
      <p>YOUTRUST は友達もしくはその友達からのみスカウトが来るビジネスSNSです</p>
      <p>履歴書は不要。あなたのことをよく知る人からのスカウトで、気持ちのよい仕事探しを！</p>
  </div>
</div>
