<div class="main">
  <div class="container">
    <h1>
      <%= get_trust_theme_message(current_user.name) %>
    </h1>
    <%= form_for @user_trust do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_area :content %>
          <%= f.submit "投稿" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
