.trust-new-button {
  text-align: right;
}

.trusts-index-item {
  padding: 20px 30px;
  margin: 5px;
  background-color: white;
}

.truster-content {
}

.truster-profile {
  text-align: right;
  font-size: 0.8em;
}
